@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300;1,400&display=swap');

*{  font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
}
body{
    background-color: rgba(88, 88, 88, 0.589);
   /* background:url('back.jpg')no-repeat ; */
    opacity: 1.9;
    z-index: -1;
}
body::before{
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0px;
    position: absolute;
    /* background: url('bgc8.jpg') no-repeat ; */
    /* background: url('sss.jpg') no-repeat center center; */
    opacity: 1.8;
    }
nav{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    font-size: 1.2rem;
    /* margin: 3rem; */
    /* padding: 0.6rem; */
}

nav ul{
    margin:10px;
    /* padding: 8px; */
    margin-left: 20px;
    display: flex;
}


nav ul li{ 
    list-style: none;
    font-size: 1.0rem;
}
nav::before{
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.8;
    color: black;

}

nav ul li a:hover{
    color: black;
    background-color: rgb(248, 248, 248);
    border-radius: 80px solid white;
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
    padding:1rem 1rem
}
a{
    text-decoration: none;
    font-weight: bold;
}
.container{
    color: rgb(255, 255, 255);
    border: 0.1rem solid rgb(0, 0, 0);
    margin-top: 0;
    /* border: .5rem solid rgb(243, 234, 234); */
    height: 31.9rem;
    background-color: #141313;
    width: 84.4rem;
    text-align: center;
    /* background-color: #141313; */
    /* background-image: url('sss.jpg'); */
    /* background: url('/static/background 2.jpg') no-repeat center center; */
    
}
.container p{
font-family: serif;
}
/* h1{
    text-align: center;
    color: black;
} */
/* .container h2{
    color:solid rgba(5, 253, 17, 0.781); ;
} */

h2{
    background-color: rgb(9, 247, 255);
    color: solid rgb(0, 0, 0);
    font-weight: 500px;
    text-align: center;
    font-size: 80px;
    /* font-family: cursive; */
}
h5{
    margin: 250px;
    height: -700px;
    margin-left: 600px;
    font-size: 2.4rem;
     margin-bottom: 2300px; 
     margin-bottom: 300px; 
 } 

  #service .box img{
    border-inline: 2px solid rgb(255, 251, 251);
    height: 190px;
   margin: auto;
   width: 210px;
   border-block: 4px solid rgb(255, 251, 251);
  }

 #service .box{
    font-size: 1.3rem;
    margin: 4px 100px;
    border: 4px solid rgb(124, 121, 121);
    padding: 40px;
    width: 200px;
    margin-left: 60px;
    margin-top:60px ;
    background-color: rgba(0, 0, 0, 0.863);
   border-radius: 30px;
   color: rgb(42, 255, 70);
   box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.788);
}

#second .box2 img{
    height: 190px;
    border-inline: 2px solid rgb(255, 251, 251);
    width: 210px;
    border-block: 4px solid rgb(255, 251, 251);
}


#second .box2{
    text-align: center;
    font-size: 1.2rem;
    margin: 4px 100px;
    border: 4px solid rgb(102, 96, 96);
    padding: 40px;
    width: 200px;
    margin-left: 525px;
    margin-top: -330px;
    background-color: rgba(0, 0, 0, 0.863);
    border-radius: 30px;
    color: rgb(42, 255, 70);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.788);
}
.box2 a:hover{
    color: black;
    background-color: yellow;
}

#third .box3 img{
    height: 190px;
    margin: auto;
    width: 210px;
    border-inline: 2px solid rgb(255, 251, 251);
    border-block: 4px solid rgb(255, 251, 251);
}


#third .box3{
    text-align: center;
    font-size:1.2rem;
    margin: 4px 100px;
    border: 4px solid rgb(102, 96, 96);
    padding: 40px;
    width: 200px;
    margin-left: 1000px;
    margin-top: -330px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.863);
    color: rgb(42, 255, 70);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.788);
}

#fourth .box4 img{
  
    height: 190px;
   margin: auto;
   width: 200px;
   border-inline: 2px solid rgb(255, 251, 251);
   border-block: 4px solid rgb(255, 251, 251);
  
}
#fourth .box4{
    text-align: center;
    font-size: 1.8rem;
    margin: 4px 100px;
    border: 4px solid rgb(102, 96, 96);
    padding: 40px;
    width: 200px;
    margin-left: 60px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.863);
    border-radius: 30px;
    color: rgb(42, 255, 70);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.788);
}

#fifth .box5 img{
    height: 190px;
    margin: auto;
    width: 210px;
    border-inline: 2px solid rgb(255, 251, 251);
    border-block: 4px solid rgb(255, 251, 251);
}


#fifth .box5{
    text-align: center;
    font-size:1.3rem;
    margin: 4px 100px;
    border: 4px solid rgb(102, 96, 96);
    padding: 40px;
    width: 200px;
    margin-left: 525px;
    margin-top: -347px;
    border-radius: 30px;
    background-color: rgba(3, 3, 3, 0.863);
    color: rgb(42, 255, 70);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.788);
}


#six .box6 img{
    height: 190px;
    margin: auto;
    width: 210px;
    border-inline: 2px solid rgb(255, 251, 251);
    border-block: 4px solid rgb(255, 251, 251);
}


#six .box6{
    text-align: center;
    font-size: 1.1rem;
    margin: 4px 100px;
    border: 4px solid rgb(148, 145, 145);
    padding: 40px;
    width: 200px;
    margin-left: 1000px;
    margin-top:-367px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.863);
    color: rgb(42, 255, 70);
    box-shadow: 2px 5px 10px rgb(3, 3, 3);
} 


#seven .box7 img{
    height: 290px;
    margin: auto;
    width: 260px;
}


#seven .box7{
    text-align: center;
    font-size: 2.0rem;
    margin: 4px 100px;
    border: 4px solid rgba(63, 57, 57, 0.37);
    padding: 40px;
    width: 250px;
    height: 400px;
    margin-left: 900px;
    margin-top:130px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 255, 0.815);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.788);
}




footer{
    text-align: center;
    background: rgb(0, 0, 0);
    color: rgb(17, 252, 37);
    padding: 9px 20px;
}


.container h1{
    margin-top: 120px;
    text-align: center;
    color:rgb(245, 131, 188);
    font-size: 3.2rem;
    font-family: 'Baloo Bhai', cursive;
    background-repeat: inherit;
    background-color: transparent;
    -webkit-text-stroke:0.2vw #6b6161 ;
    text-transform: uppercase;
    animation-timing-function: 2sec ;
    animation: text_reveal 7.5s ease forwards infinite;
    animation-delay: 2.5s;
    /* opacity: 0.6; */
}

h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
left: 0;
width: 100%;
height: 100%;
color: aqua;
-webkit-text-stroke:0.4vw #141313 ;
/* border-right: 0.2px solid aqua; */
overflow: hidden;
animation: animate 6s linear infinite;
}
.container p{
    animation: text_reveal ren 6.5s ease forwards;
    animation-delay: 1.5s;
    color: hsla(118, 100%, 54%, 0.918);
    font-size: 2.2rem;
    font-family: 'Baloo Bhai', cursive;
    /* font-family: 'Poppins', sans-serif; */
    /* color: rgba(49, 112, 247, 0.76); */
}

@keyframes animate{
0%, 10%,100%{
    width: 0;
}
70%, 90%{
    width: 100%;
}
} 


@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0%;
    }
    100%{
        width: 0%;
        left: 100%;
    }
}

@keyframes text_reveal{
    10%{

        font-size: 3.3rem;
        color:aqua;
    }
    40%{
        font-size: 4.2rem;
        color:antiquewhite;
    }
    60%{
        font-size: 4.4rem;
        color: rgb(86, 223, 86);
    }
    100%{
        font-size: 3.2rem;
        color: rgba(230, 168, 87, 0.938);
    }
}





input,textarea{
    display: block;
    margin : 1rem auto;
    padding: 0.3rem;
    width: 60%;
    outline: none;
    border: .2rem solid black;
    border-radius: .4rem;
}
.btn{
margin: 1rem auto;
display: block;
padding: .5rem .5rem;
background: grey;
cursor: pointer;
}
.top{
    text-align: right;
    justify-content: right;
}
.top img{
    border-radius: 4rem;
    height:4rem;
    width: 6rem;
    margin-right: 38rem;
    /* margin: 0.4rem; */
    padding: 1rem;
}
.container input{
    height: 2rem
}
li a{
    color: antiquewhite;
} 
.container2{
    /* border: 2px solid black; */
    height: 25rem;
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    margin-bottom: 5rem;
}
/* .semi1{
    box-shadow: 2px 5px 13px rgba(53, 252, 35, 0.788);
    border-radius: 4rem;
    border: 10px solid rgba(105, 103, 103, 0.87);
    height: 23rem;
    margin-left: 2rem;
    width: 22rem;
    background-color: #141313;
    text-align: center;
    justify-content: center;
    color: rgb(17, 252, 37);
    
}
.semi1 h1{
    font-weight: 150;
    margin-top: 3.5rem;
    font-size: 3rem;
}
.semi1 p{
    margin-top: 1rem;
    font-size: 2rem;
    color: red;
} */


#cont .semi1{
    text-align: center;
    font-size: 2.0rem;
    margin: 4px 100px;
    border: 4px solid rgba(63, 57, 57, 0.37);
    padding: 40px;
    width: 250px;
    height: 400px;
    margin-left: 100px;
    margin-top:130px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 255, 0.815);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.788);
}
.semi1 h1{
    font-weight: 150;
    margin-top: 3.5rem;
    font-size: 3rem;
}


#cont2 .semi2{
    text-align: center;
    font-size: 2.0rem;
    margin: 4px 100px;
    border: 4px solid rgba(63, 57, 57, 0.37);
    padding: 40px;
    width: 250px;
    height: 400px;
    margin-left: 500px;
    margin-top:-490px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 255, 0.815);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.788);
}
.semi2 h1{
    font-weight: 150;
    margin-top: 3.5rem;
    font-size: 3rem;
}


#cont3 .semi3{
    text-align: center;
    font-size: 2.0rem;
    margin: 4px 100px;
    border: 4px solid rgba(63, 57, 57, 0.37);
    padding: 40px;
    width: 250px;
    height: 400px;
    margin-left: 900px;
    margin-top:-490px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 255, 0.815);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.788);
}
.semi3 h1{
    font-weight: 150;
    margin-top: 3.5rem;
    font-size: 3rem;
}



/* 

.semi2{
    box-shadow: 2px 5px 13px rgba(53, 252, 35, 0.788);
    border-radius: 4rem;
    border: 10px solid rgba(138, 135, 135, 0.849);
    height: 23rem;
    margin-left: 5rem;
    width: 22rem;
    text-align: center;
    background-color: #141313;
    justify-content: center;
    color: rgb(17, 252, 37);
    
  
}
.semi2 h1{
    font-weight: 150;
    margin-top: 3.5rem;
    font-size: 3rem;
}
.semi2 p{
    margin-top: 1rem;
    font-size: 2rem;
    color: red;
}
.semi3{
    box-shadow: 2px 5px 13px rgba(53, 252, 35, 0.788);
    border-radius: 4rem;
    border: 10px solid rgba(165, 165, 165, 0.829);
    height: 23rem;
     margin-left: 5rem;
     width: 22rem;
     background-color: #141313;
     text-align: center;
     justify-content: center;
     color: rgb(17, 252, 37);
}
.semi3 h1{
    font-weight: 150;
    margin-top: 3.5rem;
    font-size: 3rem;
}
.semi3 p{
    color: red;
    margin-top: 1rem;
    font-size: 2rem;
} */

@media(max-width: 767px){
    #service .box {
        flex-basis: 45%;
        margin: 2.5%;
        width: 100px;
    }
    #second .box2 {
        flex-basis: 45%;
        margin: 2.5%;
    }
    #third .box3 {
        flex-basis: 45%;
        margin: 2.5%;
    }
    #fourth .box4 {
        flex-basis: 45%;
        margin: 2.5%;
    }
    #fifth .box5 {
        flex-basis: 45%;
        margin: 2.5%;
    }
    #six .box6 {
        flex-basis: 45%;
        margin: 2.5%;
    }
  
  
    #cont .semi1{
        flex-basis:45% ;
        margin: 2.5%;
        font-size: 1rem;
    }
    #cont2 .semi2{
        flex-basis:45% ;
        margin: 2.5%;
        font-size: 1rem;
    }
    #cont3 .semi3{
        flex-basis:45% ;
        margin: 2.5%;
        font-size: 1rem;
    }


}
@media (max-width:574px){

    #cont .semi1{
        flex-basis:45% ;
        margin: 2.5%;
        font-size: 1rem;
        
    }
    #cont2 .semi2{
        flex-basis:45% ;
        margin: 2.5%;
        font-size: 1rem;
    }
    #cont3 .semi3{
        flex-basis:45% ;
        margin: 2.5%;
        font-size: 1rem;
    }

    #service .box {
        flex-basis: 45%;
        margin: 2.5%;
    }
    #second .box2 {
        flex-basis: 45%;
        margin: 2.5%;
    }
    #third .box3 {
        flex-basis: 45%;
        margin: 2.5%;
    }
    #fourth .box4 {
        flex-basis: 45%;
        margin: 2.5%;
    }
    #fifth .box5 {
        flex-basis: 45%;
        margin: 2.5%;
    }
    #six .box6 {
        flex-basis: 45%;
        margin: 2.5%;
    }
}