@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300;1,400&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #6b6161;
}

body::before {
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0px;
    opacity: 1.8;
}

nav {
    background-color: #141313;
    position: sticky;
    top: 0;
}

ul {
    display: flex;
    flex-direction: row;
}


li {
    list-style: none;
    font-size: 1.0rem;
    padding: 1rem 1rem;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    padding: 1rem 1rem
}

a {
    text-decoration: none;
    font-weight: bold;
}

.container {
    color: rgb(255, 255, 255);
    border: 0.1rem solid rgb(0, 0, 0);
    margin-top: 0;
    height: 31.9rem;
    background-color: #141313;
    width: 84.4rem;
    text-align: center;


}

.container p {
    font-family: serif;
}


.abhi {
    background-color: rgb(9, 247, 255);
    color: solid rgb(0, 0, 0);
    font-weight: 500px;
    text-align: center;
    font-size: 80px;

}

h5 {
    margin: 250px;
    height: -700px;
    margin-left: 600px;
    font-size: 2.4rem;
    margin-bottom: 2300px;
    margin-bottom: 300px;
}

#service .box img {
    border-inline: 2px solid rgb(255, 251, 251);
    height: 190px;
    margin: auto;
    width: 210px;
    border-block: 4px solid rgb(255, 251, 251);
}

#service .box {
    font-size: 1.3rem;
    margin: 4px 100px;
    border: 4px solid rgb(124, 121, 121);
    padding: 40px;
    width: 200px;
    margin-left: 60px;
    margin-top: 60px;
    background-color: rgba(0, 0, 0, 0.863);
    border-radius: 30px;
    color: rgb(42, 255, 70);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.788);
}

#second .box2 img {
    height: 190px;
    border-inline: 2px solid rgb(255, 251, 251);
    width: 210px;
    border-block: 4px solid rgb(255, 251, 251);
}


#second .box2 {
    text-align: center;
    font-size: 1.2rem;
    margin: 4px 100px;
    border: 4px solid rgb(102, 96, 96);
    padding: 40px;
    width: 200px;
    margin-left: 525px;
    margin-top: -330px;
    background-color: rgba(0, 0, 0, 0.863);
    border-radius: 30px;
    color: rgb(42, 255, 70);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.788);
}

.box2 a:hover {
    color: black;
    background-color: yellow;
}

#third .box3 img {
    height: 190px;
    margin: auto;
    width: 210px;
    border-inline: 2px solid rgb(255, 251, 251);
    border-block: 4px solid rgb(255, 251, 251);
}


#third .box3 {
    text-align: center;
    font-size: 1.2rem;
    margin: 4px 100px;
    border: 4px solid rgb(102, 96, 96);
    padding: 40px;
    width: 200px;
    margin-left: 1000px;
    margin-top: -330px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.863);
    color: rgb(42, 255, 70);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.788);
}

#fourth .box4 img {

    height: 190px;
    margin: auto;
    width: 200px;
    border-inline: 2px solid rgb(255, 251, 251);
    border-block: 4px solid rgb(255, 251, 251);

}

#fourth .box4 {

    text-align: center;
    font-size: 1.8rem;
    margin: 4px 100px;
    border: 4px solid rgb(102, 96, 96);
    padding: 40px;
    width: 200px;
    margin-left: 60px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.863);
    border-radius: 30px;
    color: rgb(42, 255, 70);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.788);
}

#fifth .box5 img {
    height: 190px;
    margin: auto;
    width: 210px;
    border-inline: 2px solid rgb(255, 251, 251);
    border-block: 4px solid rgb(255, 251, 251);
}


#fifth .box5 {
    text-align: center;
    font-size: 1.25rem;
    margin: 4px 100px;
    border: 4px solid rgb(102, 96, 96);
    padding: 40px;
    width: 200px;
    margin-left: 525px;
    margin-top: -347px;
    border-radius: 30px;
    background-color: rgba(3, 3, 3, 0.863);
    color: rgb(42, 255, 70);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.788);
}


#six .box6 img {
    height: 190px;
    margin: auto;
    width: 210px;
    border-inline: 2px solid rgb(255, 251, 251);
    border-block: 4px solid rgb(255, 251, 251);
}


#six .box6 {
    text-align: center;
    font-size: 1.1rem;
    margin: 4px 100px;
    border: 4px solid rgb(148, 145, 145);
    padding: 40px;
    width: 200px;
    margin-left: 1000px;
    margin-top: -377px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.863);
    color: rgb(42, 255, 70);
    box-shadow: 2px 5px 10px rgb(3, 3, 3);
}


#seven .box7 img {
    height: 290px;
    margin: auto;
    width: 260px;
}


#seven .box7 {
    text-align: center;
    font-size: 2.0rem;
    margin: 4px 100px;
    border: 4px solid rgba(63, 57, 57, 0.37);
    padding: 40px;
    width: 250px;
    height: 400px;
    margin-left: 900px;
    margin-top: 130px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 255, 0.815);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.788);
}




footer {
    text-align: center;
    background: rgb(0, 0, 0);
    color: rgb(17, 252, 37);
    padding: 9px 20px;
}


.container h1 {
    margin-top: 120px;
    text-align: center;
    color: rgb(245, 131, 188);
    font-size: 3.2rem;
    font-family: 'Baloo Bhai', cursive;
    background-repeat: inherit;
    background-color: transparent;
    -webkit-text-stroke: 0.2vw #6b6161;
    text-transform: uppercase;
    animation-timing-function: 2sec;
    animation: text_reveal 7.5s ease forwards infinite;
    animation-delay: 2.5s;

}

h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: aqua;
    -webkit-text-stroke: 0.4vw #141313;

    overflow: hidden;
    animation: animate 6s linear infinite;
}

.container p {
    animation: text_reveal ren 6.5s ease forwards;
    animation-delay: 1.5s;
    color: hsla(118, 100%, 54%, 0.918);
    font-size: 2.2rem;
    font-family: 'Baloo Bhai', cursive;

}

@keyframes animate {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}


@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0%;
    }

    100% {
        width: 0%;
        left: 100%;
    }
}

@keyframes text_reveal {
    10% {

        font-size: 3.3rem;
        color: aqua;
    }

    40% {
        font-size: 4.2rem;
        color: antiquewhite;
    }

    60% {
        font-size: 4.4rem;
        color: rgb(86, 223, 86);
    }

    100% {
        font-size: 3.2rem;
        color: rgba(230, 168, 87, 0.938);
    }
}

input,
textarea {
    display: block;
    margin: 1rem auto;
    padding: 0.3rem;
    width: 60%;
    outline: none;
    border: .2rem solid black;
    border-radius: .4rem;
}

.btn {
    margin: 1rem auto;
    display: block;
    padding: .5rem .5rem;
    background: grey;
    cursor: pointer;
}

.top {
    text-align: right;
    justify-content: right;
}

.top img {
    height: 3rem;
    width: 3rem;
    margin-right: 40rem;
    border-radius: 4rem;
}

.container input {
    height: 2rem
}

li a {
    color: antiquewhite;
}

.container2 {

    height: 25rem;
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    margin-bottom: 5rem;
}



#cont .semi1 {
    text-align: center;
    font-size: 2.0rem;
    margin: 4px 100px;
    border: 4px solid rgba(63, 57, 57, 0.37);
    padding: 40px;
    width: 250px;
    height: 400px;
    margin-left: 100px;
    margin-top: 130px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    color: rgba(60, 255, 1, 0.671);
    box-shadow: 2px 5px 10px rgba(65, 255, 8, 0.788);
}

.semi1 h1 {
    font-weight: 150;
    margin-top: 3.5rem;
    font-size: 3rem;
}


#cont2 .semi2 {
    text-align: center;
    font-size: 2.0rem;
    margin: 4px 100px;
    border: 4px solid rgba(63, 57, 57, 0.37);
    padding: 40px;
    width: 250px;
    height: 400px;
    margin-left: 500px;

    margin-top: -490px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    color: rgba(60, 255, 1, 0.671);
    box-shadow: 2px 5px 10px rgba(65, 255, 8, 0.788);
}

.semi2 h1 {
    font-weight: 150;
    margin-top: 3.5rem;
    font-size: 3rem;
}


#cont3 .semi3 {
    text-align: center;
    font-size: 2.0rem;
    margin: 4px 100px;
    border: 4px solid rgba(63, 57, 57, 0.37);
    padding: 40px;
    width: 250px;
    height: 400px;
    margin-left: 900px;
    margin-top: -490px;
    margin-bottom: 100px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    color: rgba(60, 255, 1, 0.671);
    box-shadow: 2px 5px 10px rgba(65, 255, 8, 0.788);
}

.semi3 h1 {

    text-align: center;
    font-weight: 150;
    margin-top: 3.5rem;
    font-size: 3rem;
}


@media(max-width: 767px) {
    #nav {
        flex-basis: 45%;
        margin: 2.5%;
        margin-left: 0.6rem;
        width: 70%;
    }

    #service .box {
        flex-basis: 45%;
        margin: 2.5%;
    }

    #second .box2 {
        flex-basis: 45%;
        margin: 2.5%;
    }

    #third .box3 {
        flex-basis: 45%;
        margin: 2.5%;
    }

    #fourth .box4 {
        flex-basis: 45%;
        margin: 2.5%;
    }

    #fifth .box5 {
        flex-basis: 45%;
        margin: 2.5%;
    }

    #six .box6 {
        flex-basis: 45%;
        margin: 2.5%;
    }


    #cont .semi1 {
        flex-basis: 45%;
        margin: 2.5%;
        font-size: 2rem;
    }

    #cont2 .semi2 {
        flex-basis: 45%;
        margin: 2.5%;
        font-size: 2rem;
    }

    #cont3 .semi3 {
        flex-basis: 45%;
        margin: 2.5%;
        font-size: 2rem;
    }

    .container {
        margin-left: 0.5rem;
        background-color: #000000d8;
        width: 90%;
        height: 22%;
    }

    .abhi {
        width: 90%;
        font-size: 1rem;
        margin-left: .5rem;
    }

}

ul {
    margin: none;
    margin-left: none;
}

*/ nav {
    background-color: #1a1919b0;
    margin-left: 0.5rem;
    width: 90%;
    position: none;

}

ul {

    margin-left: 7rem;

}

.top {

    margin-left: 10%;
    display: flex;
    flex-direction: column;
}
